<!DOCTYPE html>
<html>
<head>
<title>The Hindu</title>
<link rel="stylesheet" type="text/css" href="../styles/normalize.css">
<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav-list">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
        </ul>
        <div class="nav-actions">
            <input type="text" placeholder="Search">
            <button>
                Search
            </button>
        </div>
    </div>
    <div class="header">
        <div class="col-1">
              <!-- <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt=""> -->
        </div>
        <div class="col-2">
              <!-- <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt=""> -->
        </div>
        
    </div>
    <div>
        <ul class="main-navbar">
            <li><a>Tech </a><span></span>
                <ul>
                    <li><a>Tech1</a></li>
                </ul>
            </li>
            <li><a>Energy</a><span></span></li>
            <li><a>Space</a><span></span></li>
            <li><a>Medicine</a><span></span></li>
            <li><a>Robotics</a><span></span></li>
            <li><a>Tesla</a><span></span></li>
        </ul>
    </div>
    <div class="article">
        <div class="main-article">
           
        </div>
        <div class="supported-article">
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="sub-heading">
        <hr>
        <h2>BREAKING NEWS</h2>
        <hr>
    </div>
    <div class="breaking-news-panel">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="sub-heading">
            <hr>
            <h2>LATEST STORIES</h2>
            <hr>
        </div>
</body>
</html>
