<!DOCTYPE html>
<html>

<head>
    <title>The Hindu</title>
    <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icomoon/fontstyle.css">
</head>

<body>
    <div class="navbar">
        <ul class="nav-list">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
        </ul>
        <div class="nav-actions">
            <input type="text" placeholder="Search">
            <button>
                Search
            </button>
        </div>
    </div>
    <div class="header">
        <div class="col-1">

        </div>
        <div class="col-2">

        </div>

    </div>
    <div>
        <ul class="main-navbar">
            <li><a>Tech </a><span></span>
                <ul>
                    <li><a>Tech1</a></li>
                </ul>
            </li>
            <li><a>Energy</a><span></span></li>
            <li><a>Space</a><span></span></li>
            <li><a>Medicine</a><span></span></li>
            <li><a>Robotics</a><span></span></li>
            <li><a>Tesla</a><span></span></li>
        </ul>
    </div>
    <div class="article">
        <div class="main-article">

        </div>
        <div class="supported-article">
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="sub-heading">

        <h2>BREAKING NEWS</h2>

    </div>
    <div class="breaking-news-panel">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="sub-heading">

        <h2>LATEST STORIES</h2>

    </div>
    <div class="latest-stories">
        <div class="latest-stories-left">
            <div class="latest-stories-left-content">
                <div>
                    <img src="../assets/download.jpg" alt="">
                </div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div class="latest-stories-left-content">
                <div>
                    <img src="../assets/download.jpg" alt="">
                </div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>

            <div class="latest-stories-left-content">
                <div><img src="../assets/download.jpg" alt=""></div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>

            <div class="latest-stories-left-content">
                <div><img src="../assets/download.jpg" alt=""></div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <div class="latest-stories-left-content">
                <div><img src="../assets/download.jpg" alt=""></div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <div class="latest-stories-left-content">
                <div><img src="../assets/download.jpg" alt=""></div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <div class="latest-stories-left-content">
                <div><img src="../assets/download.jpg" alt=""></div>
                <div>
                    <h3>'Death Star' Vaporizes Its Own Planet</h3>
                    <p><span class="icon-user"></span> By Thadeus <span class="icon-calendar"></span> 11/23/16
                        <span class="icon-bubbles2"></span> 6comments</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
            <div class="pagination">
                <a href="#">Previous</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">Next</a>
            </div>
        </div>
        <div class="latest-stories-right">
            <div class="social-network-status">
                <table>
                    <tr>
                        <td>
                            <span class="icon-facebook2"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                        <td>
                            <span class="icon-twitter"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                        <td>
                            <span class="icon-instagram"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="icon-tumblr2"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                        <td>
                            <span class="icon-pinterest"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                        <td>
                            <span class="icon-youtube2"></span>
                            <p>56,009</p>
                            <p>Followers</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="from-our-friends">
                <h3> FROM OUR FRIENDS</h3>
                <div>
                    <img src="../assets/download.jpg" alt="">
                </div>
            </div>
            <div class="trending-posts">
                <h3>TREDNING POSTS</h3>
                <div>
                    <span><img src="../assets/download.jpg" alt=""></span>
                    <p>All I need is a space suit and I'm ready to go</p>
                </div>
                <div>
                    <span><img src="../assets/download.jpg" alt=""></span>
                    <p>All I need is a space suit and I'm ready to go</p>
                </div>
                <div>
                    <span><img src="../assets/download.jpg" alt=""></span>
                    <p>All I need is a space suit and I'm ready to go</p>
                </div>
                <div>
                    <span><img src="../assets/download.jpg" alt=""></span>
                    <p>All I need is a space suit and I'm ready to go</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="flickr">
            <div>
                <h3>FLICKR IMAGES</h3>
                <div>
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">
                    <img src="../assets/download.jpg" alt="">

                </div>
            </div>
            <div>
                <h3>FLICKR IMAGES</h3>
                <div>
                    <span>Space</span>
                    <span>Galaxies</span>
                    <span>Milky Way</span>
                    <span>Black Holes</span>
                    <span>Rebels</span>
                    <span>Death Star</span>
                    <span>Republic</span>
                    <span>R2D2</span>
                </div>
            </div>
            <div>
                <h3>RANDOM MAG</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur.</p>
            </div>
        </div>
        <div class="copyrights">
            <div>
                <span>Legal</span>
                <span>Partner</span>
                <span>Explore</span>
            </div>

            <div>
                Copyright &#169; 2099 Random Mag
            </div>
        </div>
    </div>
</body>

</html>