<!DOCTYPE html>
<html>
<head>
<title>The Hindu</title>
<link rel="stylesheet" type="text/css" href="../styles/normalize.css">
<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <div class="navbar">
        <ul class="nav-list">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
        </ul>
        <div class="nav-actions">
            <input type="text" placeholder="Search">
            <button>
                Search
            </button>
        </div>
    </div>
    <div class="header">
        <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt="">
        <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt="">
    </div>
    <div>
        <ul class="main-navbar">
            <li><a>Tech </a><span></span>
                <ul>
                    <li><a>Tech1</a></li>
                </ul>
            </li>
            <li><a>Energy</a><span></span></li>
            <li><a>Space</a><span></span></li>
            <li><a>Medicine</a><span></span></li>
            <li><a>Robotics</a><span></span></li>
            <li><a>Tesla</a><span></span></li>
        </ul>
    </div>
    <div class="article">
        <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt="">
        <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt="">
        <img src="../assets/abstract-q-c-1280-1024-10.jpg" alt="">
    </div>
</body>
</html>
