<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/page1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div class="login-segment">
        <div class="login-content">
            <div class="login-header">
                <h2>DATASTUDIO</h2>
                <h3>Sign to continue to Datastudio</h3>  
            </div>
            <div class="login-form">
                <form>
                    <div class="form-group">
                        
                        <input class="form-input" id="email" placeholder="Jane Appleseed" type="text" >
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group">
                            
                        <input class="form-input" id="password" placeholder="......"type="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-group-actions">
                        <label class="checkbox-container">
                            <span class="checkmark"></span>
                            <input class="form-input-checkbox" type="checkbox">Remember me
                            
                        </label>
                        <div>
                            <a href="">Forget password?</a>
                        </div>
                    </div>
                    
                    <input class="form-input-button" type="button"  value="Sign in">
                </form>
            </div>
            <div class="login-footer">
                Are you a new User? Click here to <a href="">Sign up</a>
            </div>
        </div>
    </div>
    <div class="copyrights">
            <i class="far fa-copyright"></i> 2017 DATASTUDIO. ALL RIGHT RESERVED.
    </div>
    <div class="social-network">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-google-plus"></i>
    </div>
</body>
</html>