<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/page2.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a>DataStudio</a></li>
        </ul>
    </div>
    <div class="sub-navbar">
        <ul>
            <li><button class="dropbtn">Dashboard
                    <i class="fas fa-angle-down"></i>
                </button>
            </li>
            <li><button class="dropbtn">
                    <i class="fas fa-file"></i>  
                    Workflow Configuration
                    <i class="fas fa-angle-down"></i>
                </button>
            </li>
            <li><button class="dropbtn">
                    <i class="fas fa-bookmark"></i>
                    Job Status
                    <i class="fas fa-angle-down"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="header">
            <div class="header-title">
                Select Your WorkFlow
            </div>
            <div class="header-button">
                <input class="form-input-button" type="button"  value="Request New Workflow">
            </div>
        </div>
        <div class="search-container">
            <form>
                <input class="search-input" type="text" placeholder="&#xf002;  Search Workflow" name="search">
            </form>
        </div>
        <div class="content-data">
            <div class="content-item">
                Business Core Data
            </div>
            <div class="content-item">
                Lead Generation
            </div>
            <div class="content-item">
                Business Core Data
            </div>
            <div class="content-item">
                Lead Generation
            </div>

        </div>

    </div>
</body>
</html>