<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="../scripts/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/page3.css">
    <title>page3</title>
</head>
<body>
    <div class="container">
        
        <div class="header">
            <h1>Lead Generation</h1>
            <span><i class="fas fa-times"></i></span>
        </div>
        <div class="contact-extractor" id="contact_extractor"> 
            <div class="progress-bar">
                <div class="progress-heading">
                    <h3>Contact Extractor</h3>
                </div>

                <span class="arrow-right">
                    <i class="fas fa-arrow-right"></i>
                </span>

                <div class="progress-heading">
                    <h3>Email Extractor</h3>
                </div>

                <span class="arrow-right">
                    <i class="fas fa-arrow-right"></i>
                </span>

                <div class="progress-heading">
                    <h3>Output</h3>
                </div>

            </div>
            <div class="content">
                <span class="arrow-down">
                    <i class="fas fa-arrow-down"></i>
                </span>
                <div class="row">
                    <div class="step-fullsize">
                        <span class="step-count">
                            1
                        </span>
                        <p>Public Directory</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-fullsize">
                        <span class="step-count">
                            2
                        </span>
                        <p>Matching
                        Components</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-halfsize">
                        <span class="step-count">
                            3       
                        </span>
                        <p>QA</p>
                        <span class="triangle-right">
                                
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="step-fullsize">
                        <span class="step-count">
                            1
                        </span>
                        <p>Link Extractor</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-fullsize">
                        <span class="step-count">
                            2
                        </span>
                        <p>Link Classifier</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-fullsize">
                        <span class="step-count">
                            3
                        </span>
                        <p>Address Extractor</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-fullsize">
                        <p>High Confidence</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                </div>
                <div class="row">
                    <span class="arrow-down" id="arrow-down-change">
                        <i class="fas fa-arrow-down"></i>
                    </span>
                    <div class="step-halfsize" id="halfsize">
                        <span class="step-count">
                            5       
                        </span>
                        <p>QA</p>
                        <span class="triangle-right">
                                
                        </span>
                    </div>
                </div>
                <div class="row" id="final-row">
                    <div class="step-fullsize">
                        <p>Low Confidence</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                    <div class="step-fullsize">
                        <span class="step-count">
                            4
                        </span>
                        <p>Manual Intervention</p>
                        <span class="triangle-right">            
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-extractor" id="email_extractor"->
                <div class="progress-bar">
                        <div class="progress-heading">
                            <h3>Contact Extractor</h3>
                        </div>
        
                        <span class="arrow-right">
                            <i class="fas fa-arrow-right"></i>
                        </span>
        
                        <div class="progress-heading">
                            <h3>Email Extractor</h3>
                        </div>
        
                        <span class="arrow-right">
                            <i class="fas fa-arrow-right"></i>
                        </span>
        
                        <div class="progress-heading">
                            <h3>Output</h3>
                        </div>
                 </div>
                 <div class="content">
                    <span class="arrow-down">
                        <i class="fas fa-arrow-down"></i>
                    </span>
                    <div class="row">
                        <div class="step-fullsize">
                            <span class="step-count">
                                1
                            </span>
                            <p>Email Identification</p>
                            <span class="triangle-right">            
                            </span>
                        </div>
                        <div class="step-fullsize">
                            <span class="step-count">
                                2
                            </span>
                            <p>Email Pattern recognition</p>
                            <span class="triangle-right">            
                            </span>
                        </div>
                        <div class="step-fullsize">
                            <span class="step-count">
                                3
                            </span>
                            <p>Email Generation</p>
                            <span class="triangle-right">            
                            </span>
                        </div>
                        <div class="step-fullsize">
                            <span class="step-count">
                                4
                            </span>
                            <p>Email Verification</p>
                            <span class="triangle-right">            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="footer">
                <button>Close</button>
                <button onclick="myFunction()">Next</button>
        </div>
    </div>
</body>
</html>