/* --------------------------------------- preset css------------------------------------------ */

html,
.root {
  font-size: 18px;
  line-height: 23px;
}

body,
.article {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.27777778em;
}

h1,
.h1 {
  font-size: 2.22222222em;
  line-height: 1.15em;
  margin-top: 0.575em;
  margin-bottom: 1.15em;
}

h2,
.h2 {
  font-size: 1.66666667em;
  line-height: 1.53333333em;
  margin-top: 0.76666667em;
  margin-bottom: 0.76666667em;
}

h3,
.h3 {
  font-size: 1.27777778em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}

h5,
.h5 {
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}

/* --------------------------------------------------navbar---------------------------------------------- */

.navbar {
  display: flex;
  width: 100%;
  color: #26BBEC;
  flex-direction: row;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding-left: 5px;
}

.nav-list li {
  padding: 15px;
}

.nav-actions {
  display: flex;
  padding: 5px;
  padding-right: 20px;
}

.nav-actions input {
  border: 1px solid #BDC3C5;
  width: 180px;
  height: 35px;
  margin-right: 15px;
  border-radius: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-actions button {
  height: 39px;
  width: 75px;
  background-color: #26BBEC;
  border: none;
  border-radius: 1px;
  color: #ffffff
}

.header {
  display: flex;
  height: 175px;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .header img{
  padding-bottom: 20px;
} */

.col-1 {
  display: flex;
  flex: 0 0 20%;
  background: url(../assets/download.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
}

.col-2 {
  display: flex;
  flex: 0 0 70%;
  background: url(../assets/download.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
}

.main-navbar {
  display: flex;
  width: 100%;
  color: #26BBEC;
  flex-direction: row;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
}

.main-navbar li {
  padding: 15px;
  position: relative;
  border: 1px solid transparent;
}

.main-navbar li a {
  padding-right: 50px;
}

.main-navbar span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #26BBEC;
  border-bottom: 5px solid transparent;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.main-navbar ul {
  display: none;
  position: relative;
}

.main-navbar li:hover {
  border: 1px solid #26BBEC;
  border-radius: 2px;
}

.main-navbar li:hover span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #26BBEC;
}

.article {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 25px;
  margin-left: 25px;
  padding: 20px 10px;
}

.main-article {
  height: 380px;
  flex: 0 0 60%;
  background: url(../assets/download.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
}

.supported-article {
  display: flex;
  height: 380px;
  flex: 0 0 30%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.supported-article div:nth-child(1) {
  height: 185px;
  background: url(../assets/download.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
}

.supported-article div:nth-child(2) {
  height: 185px;
  background: url(../assets/download.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
}

.sub-heading {
  margin: 20px 45px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.breaking-news-panel {
  display: flex;
  height: 200px;
  margin-right: 25px;
  margin-left: 25px;
  flex-direction: row;
  justify-content: space-around;
}

.breaking-news-panel span {
  background-color: DodgerBlue;
  width: 200px;
}

.latest-stories {
  display: flex;
  margin-right: 45px;
  margin-left: 45px;
}

.latest-stories-left {
  display: flex;
  flex: 0 0 75%;
  flex-direction: column;
  border-right: 1px solid #CFCACA;
  padding: 5px;
}

.latest-stories-left-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #CFCACA;
  padding-bottom: 15px;
  padding-top: 15px
}

.latest-stories-left-content div:nth-child(1) {
  display: flex;
  flex: 0 0 40%;
  height: 230px;
  width: 370px;
  overflow: hidden;
}

.latest-stories-left-content div:nth-child(2) {
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  font-size: inherit;
}

.latest-stories-left-content p {
  padding-top: 10px;
}

.icon-user {
  font-size: 20px;
}

.icon-calendar {
  font-size: 20px;
}

.icon-bubbles2 {
  font-size: 20px;
}

.pagination {
  display: inline-block;
  padding: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: #ddd;
  font-size: 14px;
}

.pagination a.active {
  background-color: #33BEF9;
  color: white;
  border: 1px solid #33BEF9;
}

.latest-stories-right {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%
}

.social-network-status table {}

.social-network-status tr {
  display: block;
  padding: 15px;
}

.social-network-status td {
  padding: 10px;
  text-align: center;
}

.from-our-friends {
  padding: 10px;
}

.from-our-friends div {
  padding-top: 30px;
  height: 200px;
  width: 250px;
  overflow: hidden;
}

.trending-posts div {
  display: flex;
  flex-direction: row;
}

.trending-posts img {
  height: 70px;
  width: 70px;
  padding: 10px;
}

.trending-posts p {
  padding: 5px;
  text-align: left;
}

.flickr {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.flickr div {
  margin-top:10px;
  flex: 0 0 30%;
}
.flickr span{
  background-color: #7A7474;
  color:white;
  padding:3px;
  display: inline-block;
  margin-bottom: 5px;

  
}
.flickr img {
  padding: 0px 20px;;
  height: 50px;
  width: 50px;
}

.flickr p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.copyrights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyrights div:nth-child(1) {
  padding: 10px;
}

.copyrights div:nth-child(2) {
  padding: 10px;
}